<?xml version="1.0" encoding="utf-8"?>
<log4net>
  <root>
    <level value="ALL" />
    <appender-ref ref="RollingLogFileAppender" />
  </root>
  <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="Logs\" />
    <datePattern value="dd.MM.yyyy'.log'" />
    <rollingStyle value="Composite" />
    <staticLogFileName value="false" />
    <appendToFile value="true" />
    <maxSizeRollBackups value="5" />
    <maximumFileSize value="10MB" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n" />
    </layout>
  </appender>
</log4net>