<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Forbiden</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <h1 class="text-danger">Access forbiden</h1>
    <h2 class="text-danger">Please navigate to @Html.ActionLink("Login page", "Login", "Account");</h2>
</body>
</html>
