<!DOCTYPE html>
<html ng-app="Customers">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Customers management application</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <nav class="navbar" style="background-color: #eee;">
        <div class="container">
            <div class="navbar-header">
                <h4 style="color: #9d9d9d;">
                    @Html.ActionLink("Customers management application", "Index", "Customers")
                </h4>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" style="position: fixed; right: 0;">
                    <li>@Html.ActionLink("Log In", "LogIn", "Account")</li>
                    <li>@Html.ActionLink("Log Out", "LogOut", "Account")</li>
                </ul>
            </div>
        </div>
    </nav>
    <hr />
    <div class="container body-content" ng-controller="CustomersController as customersCtrl">
        <div ng-show="!customersCtrl.isDetailEditVisible()">
            <div class="form-group row">
                <label class="control-label">Customers</label>
            </div>
            <div class="form-group row">
                <a ng-click="customersCtrl.create()">Add new customer</a>
            </div>
            <div class="form-group row">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Name
                            </th>
                            <th>
                                Email
                            </th>
                            <th>
                                Phone
                            </th>
                            <th>
                                Comments
                            </th>
                            <th>
                                Address
                            </th>
                            <th>
                                Actions
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="customer in customersCtrl.customers">
                            <td>
                                <span> {{customer.Name}} </span>
                            </td>
                            <td>
                                <span> {{customer.Email}} </span>
                            </td>
                            <td>
                                <span> {{customer.Phone}} </span>
                            </td>
                            <td>
                                <span> {{customer.Comments}} </span>
                            </td>
                            <td>
                                <span> {{customer.Address.Address}} </span>
                            </td>
                            <td>
                                <a ng-click="customersCtrl.showDetails(customer)">Details</a>
                                <a ng-click="customersCtrl.edit(customer)">Edit</a>
                                <a ng-click="customersCtrl.delete(customer)">Delete</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="form-group row" ng-show="customersCtrl.isDetailEditVisible()">
            <section ng-controller="TabsController as tabsCtrl">
                <ul class="nav nav-pills">
                    <li ng-class="{ active:tabsCtrl.isSet(1) }">
                        <a href="" ng-click="tabsCtrl.setTab(1)">General Info</a>
                    </li>
                    <li ng-class="{ active:tabsCtrl.isSet(2) }">
                        <a href="" ng-click="tabsCtrl.setTab(2)">Departments</a>
                    </li>
                    <li ng-class="{ active:tabsCtrl.isSet(3) }">
                        <a href="" ng-click="tabsCtrl.setTab(3)">Users</a>
                    </li>
                </ul>
                <br>
                <div ng-show="tabsCtrl.isSet(1)">
                    <form name="customerForm">
                        <div class="form-group row">
                            <div class="col-sm-2">
                                <label class="control-label">Name</label>
                                <input type="text" class="form-control" ng-model="customersCtrl.currentEntity.Name" required maxlength="50" />
                            </div>
                            <div class="col-sm-2">
                                <label class="control-label">Email</label>
                                <input type="email" class="form-control" ng-model="customersCtrl.currentEntity.Email" required maxlength="100" />
                            </div>
                            <div class="col-sm-2">
                                <label class="control-label">Phone</label>
                                <input type="tel" class="form-control" ng-model="customersCtrl.currentEntity.Phone" required maxlength="30" />
                            </div>
                            <div class="col-sm-2">
                                <label class="control-label">Comments</label>
                                <input type="text" class="form-control" ng-model="customersCtrl.currentEntity.Comments" maxlength="100" />
                            </div>
                            <div class="col-sm-2">
                                <label class="control-label">Customer Type</label>
                                <select class="form-control" ng-model="customersCtrl.currentEntity.Type"
                                        ng-options="key for (key, value) in customersCtrl.customerType" required>
                                    <option value="" ng-show="false"></option>
                                </select>
                            </div>
                            <div class="col-sm-2" ng-show="customersCtrl.currentEntity.Type == customersCtrl.customerType.Municipality">
                                <label class="control-label">Number of schools</label>
                                <input type="number" class="form-control" ng-model="customersCtrl.currentEntity.NumberOfSchools" min="0" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-2">
                                <label class="control-label">Address</label>
                            </div>
                            <div class="col-sm-2">
                                <label class="control-label">Country</label>
                                <input type="text" class="form-control" ng-model="customersCtrl.currentEntity.Address.Country" required maxlength="30" />
                            </div>
                            <div class="col-sm-2">
                                <label class="control-label">City</label>
                                <input type="text" class="form-control" ng-model="customersCtrl.currentEntity.Address.City" required maxlength="30" />
                            </div>
                            <div class="col-sm-2">
                                <label class="control-label">Address</label>
                                <input type="text" class="form-control" ng-model="customersCtrl.currentEntity.Address.Address" required maxlength="100" />
                            </div>
                        </div>
                    </form>
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <label class="control-label">Contacts</label>
                            <div ng-controller="ContactsController as contactsCtrl">
                                <div ng-show="!contactsCtrl.isDetailEditVisible()">
                                    <a ng-show="customersCtrl.isEditMode()" ng-click="contactsCtrl.create(customersCtrl.currentEntity)">Add new contact</a>
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>
                                                    Name
                                                </th>
                                                <th>
                                                    Role
                                                </th>
                                                <th>
                                                    Phone
                                                </th>
                                                <th>
                                                    Email
                                                </th>
                                                <th>
                                                    Actions
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="contact in customersCtrl.getContacts()">
                                                <td>
                                                    <span> {{contact.Name}} </span>
                                                </td>
                                                <td>
                                                    <span> {{contact.Role}} </span>
                                                </td>
                                                <td>
                                                    <span> {{contact.Phone}} </span>
                                                </td>
                                                <td>
                                                    <span> {{contact.Email}} </span>
                                                </td>
                                                <td ng-show="customersCtrl.isEditMode()">
                                                    <a ng-click="contactsCtrl.edit(contact)">Edit</a>
                                                    <a ng-click="contactsCtrl.delete(contact, customersCtrl.currentEntity)">Delete</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div ng-show="contactsCtrl.isDetailEditVisible()">
                                    <form name="contactForm">
                                        <div class="form-group row">
                                            <div class="col-sm-2">
                                                <label class="control-label">Name</label>
                                                <input type="text" class="form-control" ng-model="contactsCtrl.currentEntity.Name" required maxlength="50" />
                                            </div>
                                            <div class="col-sm-2">
                                                <label class="control-label">Role</label>
                                                <input type="text" class="form-control" ng-model="contactsCtrl.currentEntity.Role" required maxlength="20" />
                                            </div>
                                            <div class="col-sm-2">
                                                <label class="control-label">Phone</label>
                                                <input type="tel" class="form-control" ng-model="contactsCtrl.currentEntity.Phone" required maxlength="30" />
                                            </div>
                                            <div class="col-sm-2">
                                                <label class="control-label">Email</label>
                                                <input type="email" class="form-control" ng-model="contactsCtrl.currentEntity.Email" required maxlength="100" />
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-2" ng-show="contactsCtrl.isDetailEditVisible()">
                                                <input type="button" class="btn btn-info" ng-click="contactsCtrl.discard()" value="Discard changes (Go back)" />
                                            </div>
                                            <div class="col-sm-2" ng-show="contactsCtrl.isEditMode()">
                                                <input type="submit" class="btn btn-success"
                                                       ng-click="contactsCtrl.save(customersCtrl.currentEntity)"
                                                       value="Save contact" />
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-show="tabsCtrl.isSet(2)">
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <div ng-controller="DepartmentsController as departmentsCtrl">
                                <div ng-show="!departmentsCtrl.isDetailEditVisible()">
                                    <a ng-show="customersCtrl.isEditMode()"
                                       ng-click="departmentsCtrl.create(customersCtrl.currentEntity)">Add new department</a>
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>
                                                    Name
                                                </th>
                                                <th>
                                                    Manager
                                                </th>
                                                <th>
                                                    Address country
                                                </th>
                                                <th>
                                                    Address City
                                                </th>
                                                <th>
                                                    Address
                                                </th>
                                                <th>
                                                    Actions
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="department in customersCtrl.getDepartments()">
                                                <td>
                                                    <span> {{department.Name}} </span>
                                                </td>
                                                <td>
                                                    <span> </span>
                                                </td>
                                                <td>
                                                    <span> {{department.Address.Country}} </span>
                                                </td>
                                                <td>
                                                    <span> {{department.Address.City}} </span>
                                                </td>
                                                <td>
                                                    <span> {{department.Address.Address}} </span>
                                                </td>
                                                <td ng-show="customersCtrl.isEditMode()">
                                                    <a ng-click="departmentsCtrl.edit(department)">Edit</a>
                                                    <a ng-click="departmentsCtrl.delete(department, customersCtrl.currentEntity)">Delete</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div ng-show="departmentsCtrl.isDetailEditVisible()">
                                    <form name="departmentForm">
                                        <div class="form-group row">
                                            <div class="col-sm-2">
                                                <label class="control-label">Name</label>
                                                <input type="text" class="form-control" ng-model="departmentsCtrl.currentEntity.Name" required maxlength="50" />
                                            </div>
                                            <div class="col-sm-2">
                                                <label class="control-label">Manager</label>
                                            </div>
                                            <div class="col-sm-2">
                                                <label class="control-label">Address country</label>
                                                <input type="text" class="form-control" ng-model="departmentsCtrl.currentEntity.Address.Country" required maxlength="30" />
                                            </div>
                                            <div class="col-sm-2">
                                                <label class="control-label">Address City</label>
                                                <input type="text" class="form-control" ng-model="departmentsCtrl.currentEntity.Address.City" required maxlength="30" />
                                            </div>
                                            <div class="col-sm-2">
                                                <label class="control-label">Address</label>
                                                <input type="text" class="form-control" ng-model="departmentsCtrl.currentEntity.Address.Address" required maxlength="100" />
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-2" ng-show="departmentsCtrl.isDetailEditVisible()">
                                                <input type="button" class="btn btn-info" ng-click="departmentsCtrl.discard()" value="Discard changes (Go back)" />
                                            </div>
                                            <div class="col-sm-2" ng-show="departmentsCtrl.isEditMode()">
                                                <input type="submit" class="btn btn-success"
                                                       ng-click="departmentsCtrl.save(customersCtrl.currentEntity)"
                                                       value="Save department" />
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-show="tabsCtrl.isSet(3)">
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <div ng-controller="UsersController as usersCtrl">
                                <div ng-show="!usersCtrl.isDetailEditVisible()">
                                    <a ng-show="customersCtrl.isEditMode()"
                                       ng-click="usersCtrl.create(customersCtrl.currentEntity)">Add new user</a>
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>
                                                    FirstName
                                                </th>
                                                <th>
                                                    MiddleName
                                                </th>
                                                <th>
                                                    LastName
                                                </th>
                                                <th>
                                                    Phone
                                                </th>
                                                <th>
                                                    Email
                                                </th>
                                                <th>
                                                    UserName
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="user in customersCtrl.getUsers()">
                                                <td>
                                                    <span> {{user.FirstName}} </span>
                                                </td>
                                                <td>
                                                    <span> {{user.MiddleName}} </span>
                                                </td>
                                                <td>
                                                    <span> {{user.LastName}} </span>
                                                </td>
                                                <td>
                                                    <span> {{user.Phone}} </span>
                                                </td>
                                                <td>
                                                    <span> {{user.Email}} </span>
                                                </td>
                                                <td>
                                                    <span> {{user.UserName}} </span>
                                                </td>
                                                <td ng-show="customersCtrl.isEditMode()">
                                                    <a ng-click="usersCtrl.edit(user)">Edit</a>
                                                    <a ng-click="usersCtrl.delete(user, customersCtrl.currentEntity)">Delete</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div ng-show="usersCtrl.isDetailEditVisible()">
                                    <form name="userForm">
                                        <div class="form-group row">
                                            <div class="col-sm-2">
                                                <label class="control-label">FirstName</label>
                                                <input type="text" class="form-control" ng-model="usersCtrl.currentEntity.FirstName" required maxlength="128" />
                                            </div>
                                            <div class="col-sm-2">
                                                <label class="control-label">MiddleName</label>
                                                <input type="text" class="form-control" ng-model="usersCtrl.currentEntity.MiddleName" maxlength="128" />
                                            </div>
                                            <div class="col-sm-2">
                                                <label class="control-label">Phone</label>
                                                <input type="tel" class="form-control" ng-model="usersCtrl.currentEntity.Phone" required maxlength="30" />
                                            </div>
                                            <div class="col-sm-2">
                                                <label class="control-label">Email</label>
                                                <input type="email" class="form-control" ng-model="usersCtrl.currentEntity.Email" required maxlength="100" />
                                            </div>
                                            <div class="col-sm-2">
                                                <label class="control-label">UserName</label>
                                                <input type="text" class="form-control" ng-model="usersCtrl.currentEntity.UserName" 
                                                       required pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{1,30}$" />
                                            </div>
                                            <div class="col-sm-2">
                                                <label class="control-label">Password</label>
                                                <input type="password" class="form-control" ng-model="usersCtrl.currentEntity.Password"
                                                       title="Enter an ID consisting of 4-8 hexadecimal digits" ng-required="usersCtrl.isPasswordRequired()" pattern="[0-9a-zA-Z]{4,8}" />
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-2" ng-show="usersCtrl.isDetailEditVisible()">
                                                <input type="button" class="btn btn-info" ng-click="usersCtrl.discard()" value="Discard changes (Go back)" />
                                            </div>
                                            <div class="col-sm-2" ng-show="usersCtrl.isEditMode()">
                                                <input type="submit" class="btn btn-success"
                                                       ng-click="usersCtrl.save(customersCtrl.currentEntity)"
                                                       value="Save user" />
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="form-group row">
            <div class="row">
                <div class="col-sm-2" ng-show="customersCtrl.isDetailEditVisible()">
                    <input type="button" class="btn btn-info" ng-click="customersCtrl.discard()" value="Discard changes (Go back)" />
                </div>
                <div class="col-sm-2" ng-show="customersCtrl.isEditMode()">
                    <input type="submit" class="btn btn-success" ng-click="customersCtrl.save()" value="Save customer" />
                </div>
            </div>
        </div>
    </div>
    <hr />
    <footer>
        <p>&copy; Customers management application</p>
    </footer>
    <script>
        @await Component.InvokeAsync("EnumsToJavaScript")
    </script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/angular/angular.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <script src="~/app/app.js"></script>
    <script src="~/app/customersController.js"></script>
    <script src="~/app/tabsController.js"></script>
    <script src="~/app/contactsController.js"></script>
    <script src="~/app/departmentsController.js"></script>
    <script src="~/app/usersController.js"></script>
</body>
</html>


