<!DOCTYPE html>
<html ng-app="customers">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Customers management application</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <nav class="navbar" style="background-color: #eee;">
        <div class="container">
            <div class="navbar-header">
                <h4 style="color: #9d9d9d;">
                    @Html.ActionLink("Customers management application", "Index", "Customers")
                </h4>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" style="position: fixed; right: 0;">
                    <li>@Html.ActionLink("Log In", "LogIn", "Account")</li>
                    <li>@Html.ActionLink("Log Out", "LogOut", "Account")</li>
                </ul>
            </div>
        </div>
    </nav>
    <hr />
    <div class="container body-content" ng-controller="CustomersController as customersCtrl">
        <div ng-show="!customersCtrl.isDetailEditVisible()">
            <div class="form-group row">
                <label class="control-label">Customers</label>
            </div>
            <div class="form-group row">
                <a ng-click="customersCtrl.createNewCustomer()">Add new customer</a>
            </div>
            <div class="form-group row">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Name
                            </th>
                            <th>
                                Email
                            </th>
                            <th>
                                Phone
                            </th>
                            <th>
                                Comments
                            </th>
                            <th>
                                Address
                            </th>
                            <th>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="customer in customersCtrl.customers">
                            <td>
                                <span> {{customer.Name}} </span>
                            </td>
                            <td>
                                <span> {{customer.Email}} </span>
                            </td>
                            <td>
                                <span> {{customer.Phone}} </span>
                            </td>
                            <td>
                                <span> {{customer.Comments}} </span>
                            </td>
                            <td>
                                <span> {{customer.Address.Address}} </span>
                            </td>
                            <td>
                                <a ng-click="customersCtrl.showCustomerDetails(customer)">Details</a>
                                <a ng-click="customersCtrl.editCustomer(customer)">Edit</a>
                                <a ng-click="customersCtrl.deleteCustomer(customer)">Delete</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="form-group row" ng-show="customersCtrl.isDetailEditVisible()">

            <section ng-controller="TabController as tabCtrl">
                <ul class="nav nav-pills">
                    <li ng-class="{ active:tabCtrl.isSet(1) }">
                        <a href="" ng-click="tabCtrl.setTab(1)">General Info</a>
                    </li>
                    <li ng-class="{ active:tabCtrl.isSet(2) }">
                        <a href="" ng-click="tabCtrl.setTab(2)">Users</a>
                    </li>
                    <li ng-class="{ active:tabCtrl.isSet(3) }">
                        <a href="" ng-click="tabCtrl.setTab(3)">Departments</a>
                    </li>
                </ul>
                <br>
                <div ng-show="tabCtrl.isSet(1)">
                    <form name="customerForm">
                        <div class="form-group row">
                            <div class="col-sm-2">
                                <label class="control-label">Name</label>
                                <input type="text" class="form-control" ng-model="customersCtrl.currentCustomer.Name" required maxlength="50" />
                            </div>
                            <div class="col-sm-2">
                                <label class="control-label">Email</label>
                                <input type="email" class="form-control" ng-model="customersCtrl.currentCustomer.Email" required maxlength="100" />
                            </div>
                            <div class="col-sm-2">
                                <label class="control-label">Phone</label>
                                <input type="tel" class="form-control" ng-model="customersCtrl.currentCustomer.Phone" required maxlength="30" />
                            </div>
                            <div class="col-sm-2">
                                <label class="control-label">Comments</label>
                                <input type="text" class="form-control" ng-model="customersCtrl.currentCustomer.Comments" maxlength="100" />
                            </div>
                            <div class="col-sm-2">
                                <label class="control-label">Customer Type</label>
                                <select class="form-control" ng-model="customersCtrl.currentCustomer.Type"
                                        ng-options="key for (key, value) in customersCtrl.customerType" required>
                                    <option value="" ng-show="false"></option>
                                </select>
                            </div>
                            <div class="col-sm-2" ng-show="customersCtrl.currentCustomer.Type == customersCtrl.customerType.Municipality">
                                <label class="control-label">Number of schools</label>
                                <input type="number" class="form-control" ng-model="customersCtrl.currentCustomer.NumberOfSchools" min="0" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-2">
                                <label class="control-label">Address</label>
                            </div>
                            <div class="col-sm-2">
                                <label class="control-label">Country</label>
                                <input type="text" class="form-control" ng-model="customersCtrl.currentCustomer.Address.Country" required maxlength="30" />
                            </div>
                            <div class="col-sm-2">
                                <label class="control-label">City</label>
                                <input type="text" class="form-control" ng-model="customersCtrl.currentCustomer.Address.City" required maxlength="30" />
                            </div>
                            <div class="col-sm-2">
                                <label class="control-label">Address</label>
                                <input type="text" class="form-control" ng-model="customersCtrl.currentCustomer.Address.Address" required maxlength="100" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <label class="control-label">Contacts</label>
                                <div ng-controller="ContactsController as contactsCtrl">
                                    <a ng-show="customersCtrl.isEditMode()" ng-click="contactsCtrl.createNewContact()">Add new contact</a>
                                    <ul ng-repeat="contact in customersCtrl.currentCustomer.Contacts">
                                        <li>
                                            <span>{{contact.Name}}</span>
                                        </li>
                                    </ul>
                                    <div ng-show="contactsCtrl.currentContact">
                                        <label class="control-label">Name</label>
                                        <input type="text" class="form-control" ng-model="contactsCtrl.currentContact.Name" />
                                        <input type="button" class="btn btn-default" ng-click="contactsCtrl.saveContact(customersCtrl.currentCustomer)" value="Save contact" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-2" ng-show="customersCtrl.isDetailsMode()">
                                <input type="button" class="btn btn-success" ng-click="customersCtrl.discardCustomerChanges()" value="Go back" />
                            </div>
                            <div ng-show="customersCtrl.isEditMode()">
                                <div class="col-sm-2">
                                    <input type="button" class="btn btn-warning" ng-click="customersCtrl.discardCustomerChanges()" value="Discard changes" />
                                </div>
                                <div class="col-sm-2">
                                    <input type="submit" class="btn btn-success" ng-click="customersCtrl.saveCustomer(tabCtrl.getCustomersForm())" value="Save customer" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div ng-show="tabCtrl.isSet(2)">
                </div>
                <div ng-show="tabCtrl.isSet(3)">
                </div>
            </section>
        </div>
    </div>
    <hr />
    <footer>
        <p>&copy; Customers management application</p>
    </footer>
    <script>
        @await Component.InvokeAsync("EnumsToJavaScript")
    </script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/angular/angular.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/app/ContactModel.js"></script>
    <script src="~/app/CustomerModel.js"></script>
    <script src="~/app/app.js"></script>
</body>
</html>


